@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
p {
  font-family: "Space Mono", monospace;
}
h1 {
  font-family: "Space Mono", monospace;
}
a {
 font-weight: bold;
 background: linear-gradient(
   to right,
   #ff0000,
   #ff9900,
   #ffff00,
   #33cc33,
   #3399ff,
   #9900cc,
   #ff0000
 );
 background-size: 400% 100%;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: rainbow-move 6s ease-in-out infinite;
}
@keyframes rainbow-move {
 0%, 100% { background-position: 0% 50%; }
 50% { background-position: 100% 50%; }
}
/* hi guyes */
